# Java / Maven
backend/target/
backend/*.pdf
backend/.mvn/wrapper/maven-wrapper.jar

# Node / React
frontend/node_modules/
frontend/dist/

# OS
.DS_Store

# Secrets
backend/src/main/resources/application-secrets.properties
backend/application-secrets.properties
